/* Landing page CSS file */
body {
    margin: 0;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo-name {
    gap: 16px;
    display: flex;
    flex-direction: row;
}

.site-name {
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 0;
    margin-left: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .top, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

.top {
    display: flex;
    flex-flow: row wrap;
    gap: 48px;
    justify-content: center;
    padding: 96px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 24px;
}

#signup-button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    border: none;
}

.section1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 96px;
}

.itinerary-suggestions {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.itinerary {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.itinerary-text {
    width: 300px;
    text-align: center;
    font-weight: 600;
}

.section2 {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    flex-direction: column;
    padding: 96px;
}

.quotes-text, .quotes-author {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quotes-author {
    font-weight: bold;
}

.section3 {
    display: flex;
    justify-content: center;
    padding: 96px;
}

.action-box {
    display: flex;
    flex-flow: row;
    background-color: #3882F6;
    color: white;
    padding: 16px 48px;
    gap: 72px;
    border-radius: 8px;
    align-items: center;
    padding: 24px 48px;
    justify-content: space-between;
}

#subscribe-button {
    border: 1px solid #f9faf8;
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    height: fit-content;
    padding: 8px;
    font-size: 18px;
}

.actioncall-headline {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.actioncall-text {
    font-size: 18px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
}

/* Logo and Images */

#logo {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.top-image {
    width: 250px;
    height: auto;
}

.itinerary-image {
    width: 300px;
    height: 200px;
}
